main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    background-color: rgb(24, 23, 23);
}

.box{
    background-color: black;
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 20px;
}

.image{
    height: 100px;
    width: 60%;
    margin: 10px;
}

input{
    text-align: left;
    height: 7%;
    width: 60%;
    margin: 7px;
    border-radius: 5px;
}
.login{
    color: white;
    cursor: pointer;
    background-color: rgb(38, 201, 38);
    padding: 5px;
    width: 62%;
    margin: 5px;
    height: 8%;
    border-radius: 10px;
}

.forgot{
    color: rgb(211, 198, 198);
    margin: 5px;
}

