body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  background-color: rgb(218, 218, 218);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.main h2 {
  margin-left: 15px;
}

.container1 {
  height: 100%;
  width: 100%;
}

.upper {
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  height: 33%;
  display: flex;
  margin: 0px 0px 0px 10px;
}

.box {
  display: flex;
  width: 23%;
  height: 35%;
  border: 1px solid black;
  background-color: white;
  margin: 10px 10px 0px 10px;
}

.box .line {
  height: 100%;
  width: 5%;
  background-color: rgb(6, 214, 121);
}

.box div {
  font-size: 25px;
  font-weight: 900;
  padding: 5px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lower {
  height: 60%;
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 48%;
  padding: 10px;
  margin: 5px;
  background-color: rgb(218, 218, 218);
}

.right {
  height: 100%;
  width: 48%;
  padding: 10px;
  margin: 5px;
  background-color: rgb(218, 218, 218);
}

canvas {
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0;
}
